/* Global Styles */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
